
body{
  margin: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
 
.navbar {
 overflow: hidden;
  background-color: black;
  width: 100%;
  
  
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
  
  
}

.navbar a:hover {
  background: #ddd;
  color: yellow; 
  
}
img {

  border-radius: 6px;
  width: 80px;
  height: 50px;
  float: left;
	transform: rotate(20deg);
  
}
#tfheader{
		background-color: white;
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid black; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px black; border-right:0px;
		background: black;
		background: -webkit-gradient(linear, left top, left bottom, from(black), to(yellow));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: black;
		background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(black));
		background: -moz-linear-gradient(top,  black,  black);
	}
	
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
	* {
*   box-sizing: border-box;
    
*   }

.column {
   float: left;
   width: 120px;
   padding: 10px;
   height: 250px;
   border: 1px solid;
   margin-left: 25px;
   overflow: scroll;
   
        }
.row:after {
  content: "";
    display: table;
      clear: both;
      border: 1px solid;
      overflow: scroll;
      }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding-buttom: auto;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
} 
